.Noucleus {
  text-align: center;
  display: flex;
  flex-direction: row;
}


body {
  margin: 0 auto;
  background: linear-gradient(to bottom right, rgba(86, 126, 200, 0.821), rgba(60, 183, 132, 0.82));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  height: 100%;
}

.sidebar {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 12vw;
}

.selectedSidebarPage button {
  background-color: rgba(52, 155, 158, 0.8);
}

.content {
  display: flex;
  flex-direction: row;
}


#sidebar-1 button:hover {
  background-color: rgb(150, 150, 190);
}

.GenePage article{
  width:40vw
}

.GeneCardContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 30vh;
}

.GeneCard {
  width: 60%;
  height: 70%;
}

.GeneCard img{
  width: 100%;
  object-fit: cover;
}

/* .PaginationContainer {
  position: fixed;
} */

.VisualPickerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.VisualPickerCard {
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.VisualPickerCardSelected {
  background-color: green;
  display: flex;
  flex-direction: column;
}

.fontIcon {
  margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
