.Noucleus {
  text-align: center;
}

body {
  margin: 0 auto;
  background: linear-gradient(to bottom right, rgba(86, 126, 200, 0.821), rgba(60, 183, 132, 0.82));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
